.container{
    max-width: 1100px;
}
.form{
    max-width: 30%;
}
input.title, textarea.textarea, .addbtn{
    width: 100%;
}
input.chkbx, label.label{
    width: 50%;
}

.itemdisplay{
    display: block;
}

.itemstyle{
   max-width: 35%;
    padding: 12px;
    border: 1px solid black;
    margin: 10px;
    list-style-type: none;
}

.liststyle{
    padding: 0;
}

.deleditbtn{
    height: 3%;
    width: 50%;
}

